/* 主题类样式 */

$body_bg: #fff; // 页面背景色

$body_content_bg: #fff; // 页面内容区背景色

$font_color: #475669; // 全局字体颜色

/* 背景色 */
$bg1: #242e42; // 左侧一级导航
$bg2: #323F54; // 左侧二级导航
$bg3: #ECEEF3; // 内容区域
$bg4: #1f8efa;
$bg5: #b2b2b2;
$bg6: #f9fafc;

/* 字体颜色 */
$color1: #c0ccda;
$color2: #1f2d3d;
$color3: #475669;
$color4: #adb9ca;
$color5: #b2b2b2;
$color6: #778293;
